 .dual-list .list-group {
            margin-top: 8px;
        }

        .list-left li, .list-right li {
            cursor: pointer;
        }

        .list-arrows {
            padding-top: 100px;
        }

            .list-arrows button {
                margin-bottom: 20px;
            }
            .container {
               margin-bottom: 5px;
               }
              .row {
              margin-right:-15px;
              margin-left:95px;
              width:80%
              }
              .form-control {
              width:85%
              }