﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="abc.aspx.cs" Inherits="csimplifyit.abc" %>

<!DOCTYPE html>
<script src="Scripts/jquery-1.4.3.min.js"></script>
<script src="Scripts/jquery-1.7.1.min.js"></script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src="Scripts/abc.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title></title>
</head>

<body>
    <div id="fb-root"></div>   
    <a href="#" onclick="loginByFacebook();">Login with Facebook</a>
 
   
</body>

</html>
