﻿<%@ Page Title="" Language="C#" MasterPageFile="" AutoEventWireup="true" CodeBehind="aim_searcher.aspx.cs" Inherits="csimplifyit.WebForm11" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
<script>
    $(function () {
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 5000,
            pause: 2500,
            hoverPause: true,
            start: 3   //no of slide to be displayed 

        });
    });

    $(document).ready(function () {

        testcall();
    });

    function testcall() {
        $.ajax({

            type: "POST",
            url: "aim_searcher.aspx/test",
            data: '{Name:"satish"}',
            contentType: "application/json; charset=utf-8",

            dataType: "json'",

            success: function (data) {
                var Data = data.d;
                if (Data.Status == 1) {
                    stripeKey = Data.Result.Description;
                } else if (Data.Status == 2) {

                } else {

                }
            },
            error: function (request, error) {
                console.log(arguments);
                alert(" Can't do because: " + error);
            },
            beforeSend: function () {

            },
            complete: function () {

            }
        });
    }

	</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
 <div id="body-wrapper" class="clearfix"><!--start body-wrapper-->
 <hr />
<h1 class="text_blue">Aim Searcher</h1>
 <div class="clear"></div>

 <div class="three_fourth">
 
 
 <p>C SimplifyIT "Aim Searcher" help you expand your reach to right people, job functions, genders, age, communities and places.  Using right keywords in your product taglines is key to success, Aim Searcher suggest you based on your products and choosen customer segments. </p>
 <p>See how Ads will perormcon websites and choose the relevant products to be shown on your websites. Aim seracher helps you earn more for your efforts. Sales statistics along with Ads help you link right links on your webpages.  Reconciliation of Ads earnings helps you see benefits of all promotions choosen by you.</p>
</div>

<div class="one_fourth column-last">
<img class="radius_10" src="images/Aim-Searcher.PNG" />
</div>
     
 </div>
</asp:Content>
