<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"  %>
<asp:Content ID="botsMachineHead" ContentPlaceHolderID="HeadContent" runat="server">
    <title>Bots-Machine Learning | C Simplify IT - Do eCommerce!10x better.</title>
</asp:Content>
<asp:Content ID="botsMachineMaincontent" ContentPlaceHolderID="MainContent" runat="server">

	<div class="wrapper">
		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Bots and Machine Learning</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="index.aspx">Home</a></li>
					<li><a href="">Services</a></li>
					<li class="active">Bots and Machine Learning</li>
				</ul>
			</div>
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		
			<div class="row">
				<!--<div class="col-md-6">
					<h2 class="title-v2">Bots and Machine Learning</h2>
					<p>These days, in technology and digital marketing circles, &#34; bots &#34; are a frequent source of discussion. By definition, a bot (short for &#34;web robot&#34;) is a software program that operates as an agent for an individual, group of individuals, organization or even legitimate businesses. </p><br>
                    <p>A Bot starts off with no knowledge of how to communicate. Each time a user enters a statement as input, response is computed using Machine learning iteratively without being explicitly programmed. As Bots receive more input, the accuracy of each response in relation to the input statement is increased.</p><br>
                     <p>Resources are used while marketing a product or service that has extremely high demand and low inventory (e.g., a limited edition sneaker, limited run designer purse etc.) only to discover that bots have snapped them up within seconds of being released. Bots save time and costs in comparison to human intervention. Quality of  Bots will be ensured by the good pattern machine algorithms of Machine Learning. 

</p><br>
                    <p>Good Bots combined with Machine learning will ensure the following and thus to improve customer's experience :</p><br>
                     <p>	Search engines:  help customers find products on the site automatically. </p><br>
                     <p>	Online advertising:  help retailers attract customers by evaluating the interests of visitors to various sites based on the content viewed. It will  present the targeted content on pages where the advertiser operates.</p><br>
                     <p>	SEO, analytics or marketing: help consumers find desired  product or brand along with price comparisons and analytics. </p><br>
                    
                     
                    
				</div>
				<div class="col-md-6 ">
					<img class="wow fadeInLeft img-responsive pull-right md-pt-40" src="assets/img/bg/botsandMachine.jpg" alt="">
				</div>-->
                
                
                
                
<div class="am-content">
	

	<div class="row " id="fb-top-row" style="background-color: #EBEFF2; padding-top: 30px;">
		<div class="col-md-12 col-sm-12 padding-0">
			<div class="col-md-6 col-sm-6 md-pt-30" style="padding-top: 30px;">
				<div class="col-md-2"></div>
				<div class="col-md-9" id="slide-content">
					<h1>Bots and Machine Learning </h1>
					<p> Users can interact with bots by sending them messages, commands and inline requests. You control your bots using HTTPS requests to our bot API.</p>
					<div class="col-md-12" style="padding: 0px;">
						<a href="https://www.pushbiz.in/pushbizhome" target="_blank"><button class="btn btn-primary col-md-8"
							
							style="font-size: 18px; font-weight: 600; height: 60px;">Signup
							for free trail</button></a>
					</div>
					<br> <br>
					<div class="col-md-12" style="padding: 0px;">
						<p class="video" data-toggle="modal" data-video="https://www.youtube.com/embed/MgVicOUODmw" data-target="#myModal">
							<img src="assets/img/bg/yt-icon.png"
								style="margin-left: 5px;"> watch the video
						</p>
					</div>


				</div>
			</div>
			<div class="col-md-6 col-sm-6">
                <div class="col-md-12" style="background-color:#fff;">
                 <div class="col-md-4 col-xs-4"><img width="100%" src="assets/img/technology/cloud-mchine-learnings.png"></div>
                        <div class="col-md-4 col-xs-4"><img  width="100%" src="assets/img/technology/witi-ai-facebook.png"></div>
                        <div class="col-md-4 col-xs-4"><img width="100%" src="assets/img/technology/sirikit.png"></div>      
                </div>
				<img width="100%" src="assets/img/bg/messenger-slider.jpg">
			</div>
		</div>

	</div>

	<!--End Slider  -->

  <div class="row " style=" padding: 30px;">
      
      <div class="col-md-1"></div>
      <div class="col-md-10 text-center">
          <h1 class="text-center" >Bots and Machine Learning</h1>
          <hr style="background-color: #EF6262; height: 3px; text-align: center; width: 5%;margin: auto;">
          
                            <p class="justify font-16 md-mt-30" >These days, in technology and digital marketing circles, &#34; bots &#34; are a frequent source of discussion. By definition, a bot (short for &#34;web robot&#34;) is a software program that operates as an agent for an individual, group of individuals, organization or even legitimate businesses.</p>

                    <p class="justify font-16">A Bot starts off with no knowledge of how to communicate. Each time a user enters a statement as input, response is computed using Machine learning iteratively without being explicitly programmed. As Bots receive more input, the accuracy of each response in relation to the input statement is increased. </p>

          <p class="justify font-16">Resources are used while marketing a product or service that has extremely high demand and low inventory (e.g., a limited edition sneaker, limited run designer purse etc.) only to discover that bots have snapped them up within seconds of being released. Bots save time and costs in comparison to human intervention. Quality of  Bots will be ensured by the good pattern machine algorithms of Machine Learning.</p> </br>
                   <p class="justify font-16"> Good Bots combined with Machine learning will ensure the following and thus to improve customer's experience:</br>
                        <strong>Search engines :</strong>  help customers find products on the site automatically.</br>
                    	<strong>Online advertising :</strong>  help retailers attract customers by evaluating the interests of visitors to various sites based on the content viewed. It will  present the targeted content on pages where the advertiser operates.</br>
                    	<strong>SEO, analytics or marketing :</strong> help consumers find desired  product or brand along with price comparisons and analytics.</br>
                    </p>
          </div>
	</div>


	<!-- Start Content  -->

	<!-- Start First Section  -->
	<div class="row " id="first-section" >
		<h1 class="text-center" >"Integrate with Bots API" made easy</h1>
		<hr>

		<h3 class="text-center">API allows you to connect bots to our system.</h3>

			<center>
                <div class="col-md-2 text-center"></div>
                <div class="col-md-8 text-center">
                    <img id="comu-image" src="assets/img/bg/botsandMachine.jpg" width="100%"> 
                </div>
            </center>
	</div>
	<!-- End First Section  -->

	
	<!-- Start Fourth Section  -->

	<div class="row " style="padding-bottom: 50px;">
		<h1 class="text-center" style="font-weight: 600; margin-top: 60px;">Start
			your business now using Bots</h1>
		<div class="col-md-5 col-sm-5 col-xs-4"></div>
		<div class="col-md-4 col-sm-4 col-xs-4" style="margin-top: 20px; padding: 0px;">
			<a href="https://www.pushbiz.in/pushbizhome" target="_blank"><button class="btn btn-primary col-md-8 "
				
				style="font-size: 18px; font-weight: 600; height: 60px;">Signup
                free</button></a>
		</div>
		<br>



	</div>

	<!-- End Fourth Section  -->

                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                </div>        
                
                
                
			</div>
		<!--/row-->
		<!--=== End Content Part ===-->
       
 
</div><!--/wrapper-->
    </asp:Content>