﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" %>

<script runat="server">

</script>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
<script>
    $(function () {
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 5000,
            pause: 2500,
            hoverPause: true,
            start: 3   //no of slide to be displayed 

        });
    });
	</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

 <div id="body-wrapper" class="clearfix"><!--start body-wrapper-->

 <div class="clear"></div>
 <hr />
<h1 class="text_blue">ChangePassword</h1>
 <div class="clear"></div>
 <div class="three_fourth">
 </div>
 <div class="one_fourth column-last">
	 <img class="radius_10" src="images/Testing-Shield.png" />
 </div>
 &nbsp;</div>
</asp:Content>

