<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Do It Yourself | Do eCommerce!10x better.</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-default.css">
	 <link rel="stylesheet" href="assets/css/footers/footer-v2.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">

	<!-- CSS Page Style -->
	<link rel="stylesheet" href="assets/css/pages/page_search.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="index.html">
					<img src="assets/img/logo1-default.png" alt="Logo">
				</a>
				<!-- End Logo -->

				
				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
						<ul class="nav navbar-nav">
                        <!-- Verticals -->
						<li class="dropdown"><a href="#" class="">Verticals</a>
				            <ul class="dropdown-menu">
										<li><a href="retail.aspx">Retail</a></li>
										<li><a href="transport-management.html">Transport Management</a></li>
										<li><a href="mobility.html">Mobility</a></li>                                       
										<li><a href="financial.html">Financial</a></li>
                                        <li><a href="healthcare.html">Health Care</a></li>
                                        <li><a href="testing-verticals.html">Testing</a></li>
				            </ul>
						</li>
						<!-- End Verticals -->
                        
                        <!---Products ------>
                        <li class="Products.html"><a href="products.html" class="">Products</a></li>
                        <!---End Products ----->

						<!-- Servces -->
						<li class="dropdown active">
							<a href="#" class="">Services</a>
				            <ul class="dropdown-menu">
										<li><a href="e-commerce.html">E-Commerce Services</a></li>
										<li><a href="context-centeric.html">Context Centric Services</a></li>
										<li><a href="cloud_integrations.html">Cloud Integrations</a></li>
                                        <li class="dropdown-submenu">
                                            <a href="mobility_apps.html">Mobility Apps</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="budget_it_project.html">Budget IT Project</a></li>
                                            </ul>
                                        </li>
										<li><a href="botsandmachinelearning.html">Bots and Machine Learning</a></li>
                                        <li class="dropdown-submenu">
                                            <a href="do_it_yourself.html">Do It Yourself</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="fly_high.html">Fly High</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="testing.html">Testing</a></li>
				            </ul>
						</li>
						<!-- End Services -->
                        <!-- Pages -->
						  <li class=""><a href="aboutus.html" class="">About Us</a></li>
						<!-- End Pages -->
                        
                        <!----Contact Us ---->
                        <li class=""><a href="contact.html" class="">Contact Us</a></li>
						<!-- End Contact Us -->

					</ul>
				</div><!--/end container-->
			</div><!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->


		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Do It Yourself</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="">Servics</a></li>
					<li class="active">Do It Yourself</li>
				</ul>
			</div>
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<div class="col-md-6">
					<h2 class="title-v2">Do it yourself !</h2>
					<p>This page is dedicated to those people who want to do things themselves, as they have time and skills to take themselves at higher level. It is our sincere effort to share the best and intelligent practices on bringing up your businesss online. Here we have collacted excellent links to get strated, setup and manage your efforts. By no means this is complete in every sense, but this can be your first step towards your dreams fulfillment. </p><br>
                     <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
                <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">
                            <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                            <h4 class="panel-title">
                                                Godaddy 
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Buy Domain </p>
                                            <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Host your website (Use Google Sites !) </p>
                                            <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Get Hosting space (Amazon)  </p>
                                            
                                        </div>
                                    </div>
                            </div><!--panel-default-->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                        <h4 class="panel-title">
                                            Google
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Sites </p>
                                        <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Adsense  </p>
                                        <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Google Apps (free email for 50 users) </p>
                                        <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Google Analytics</p>
                                        <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Google Webmaster tools </p>
                                        <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Places  </p>
                                        <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Merchant Services </p>
                                         <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Maps </p>
                                    </div>
                                </div>
                            </div><!--panel-default-->
                         <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                        <h4 class="panel-title">
                                            LinkedIn
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Tell your friends </p>
                                    <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Join Groups </p>
                                    <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Create Groups  </p>
                                    <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>LinkedIn Ads </p>
                                    </div>
                                </div>
                            </div><!--panel-default-->
                         <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                                        <h4 class="panel-title">
                                            Facebook
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Tell your friends </p>
                                    <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Join Groups </p>
                                    <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Create Games/Apps </p>
                                    <span class="pull-left"><i class="glyphicon glyphicon-hand-right"></i></span><p>Create Fan pages  </p>
                                    </div>
                                </div>
                            </div><!--panel-default-->
                    </div>
                </div>
                    </div>
                
                
				</div>
				<div class="col-md-6 ">
					<img class="wow fadeInLeft img-responsive pull-right md-pt-40" src="assets/img/bg/3.jpg" alt="">
				</div>
			</div>
		</div><!--/container-->
		<!--=== End Content Part ===-->
        
  <!--=== Footer v2 ===-->
		<div id="footer-v2" class="footer-v2">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-3 md-mt-40">
							<a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo-original.png" alt=""></a>
							<p class="margin-bottom-20">C Simplify IT Services established in the year 2011 located in gurgaon, India. we are handling projects in India, Singapore, Hong Kong, Thailand and USA.We have expertise in Expertise in BI, Content Management, Microsoft & Java technologies, Application Development, Support and Testing.</p>

							</div>
						<!-- End About -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-40 md-mt-40">
							<div class="headline"><h2 class="heading-sm">Useful Links</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="aboutus.html">About us</a><i class="fa fa-angle-right"></i></li>
								<li><a href="services.html">Services</a><i class="fa fa-angle-right"></i></li>								
								<li><a href="retail.aspx">Verticals</a><i class="fa fa-angle-right"></i></li>
								<li><a href="contact.html">Contact us</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div>
						<!-- End Link List -->

						<!-- Latest Tweets -->
						<div class="col-md-3 md-margin-bottom-40 md-mt-40">
							<div class="latest-tweets">
								<div class="headline"><h2 class="heading-sm">Social Links</h2></div>
								<div class="latest-tweets-inner">
									<ul class="social-icons">
                                        <li>
                                            <a href="https://www.facebook.com/CSimplifyIT-210115279023481/"
                                               data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                                        <li><a href="https://twitter.com/dmehta104" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                                        <li><a href="https://plus.google.com/u/0/+CSimplifyITServicesPrivateLimitedNewDelhi/about" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                                        <li><a href="https://www.linkedin.com/company/2702366" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                                    </ul>
                                </div>
							</div>
						</div>
						<!-- End Latest Tweets -->

						<!-- Address -->
						<div class="col-md-3 md-margin-bottom-40 md-mt-40">
							<div class="headline"><h2 class="heading-sm">Contact Us</h2></div>
							<address class="md-margin-bottom-40">
								<i class="fa fa-home"></i>C Simplify IT Services Private Limited <br />&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;SCO-36, Huda Market, Sector 31,<br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbspGurgaon, Haryana ( India ).<br />
								<i class="fa fa-phone"></i>Phone: +91 98999 76227 <br />
								<i class="fa fa-globe"></i>Website: <a href="#">www.csimplifyit.com</a> <br />
								<i class="fa fa-envelope"></i>Email: <a href="sales@csimplifyit.com" class="">sales@csimplifyit.com</a></a>
							</address>

							<!-- Social Links -->
							
							<!-- End Social Links -->
						</div>
						<!-- End Address -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<p class="text-center">2015 &copy; All Rights Reserved. by <a target="_blank" href="">C Simplify IT</a></p>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer v2 ===-->
</div><!--/wrapper-->



<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.parallax.js"></script>
<script type="text/javascript" src="assets/plugins/counter/waypoints.min.js"></script>
<script type="text/javascript" src="assets/plugins/counter/jquery.counterup.min.js"></script>
<script type="text/javascript" src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript" src="assets/js/plugins/cube-portfolio/cube-portfolio-lightbox.js"></script>
<script type="text/javascript" src="assets/plugins/wow-animations/js/wow.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		App.init();
		App.initCounter();
		App.initParallaxBg();
		StyleSwitcher.initStyleSwitcher();
        new WOW().init();
	});
</script>
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

</body>
</html>
