<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"%>
<asp:Content ID="hearlthHead" ContentPlaceHolderID="HeadContent" runat="server">
    <title>HealthCare | C Simplify IT - Do eCommerce!10x better.</title>
</asp:Content>
<asp:Content ID="healthMaincontent" ContentPlaceHolderID="MainContent" runat="server">
	<div class="wrapper">
    
		<!--=== Header ===-->
		
		<!--=== End Header ===-->


		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Health Care</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="index.aspx">Home</a></li>
					<li><a href="">Verticals</a></li>
					<li class="active">Health Care</li>
				</ul>
			</div>
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<div class="col-md-6">
					<h2 class="title-v2">Health Care</h2>
					<p>C Simplify IT involving in the design, development, creation, use and maintenance of information systems for the healthcare industry. Automated and interoperable healthcare information systems are expected to lower costs, improve efficiency and reduce error.We are also providing better consumer care and services.</p><br>
                    <p>Well being data innovation frameworks that handle secured wellbeing data (PHI) are liable to the Health Insurance Portability and Accountability Act (HIPAA) Privacy Rule, made and upheld by the U.S. Division of Health and Human Services. The standard gives patients access to their PHI and ensures the protection of their data by constraining access to it by different gatherings. A social insurance supplier that encounters a rupture of PHI can be given a fine by the HHS Office for Civil Rights.</p><br>
                     <p>The electronic wellbeing record (EHR) is the focal segment of the wellbeing IT base. An EHR or electronic therapeutic record is an individual's official, computerized wellbeing record and is shared among various offices and offices. The other fundamental components of the social insurance IT framework are the individual wellbeing record (PHR), which is an individual's self-kept up wellbeing record; and a Regional Health Information Organization (RHIO), which manages interchanges among alternate components and brings together them geologically. A RHIO is a sort of wellbeing data trade, which is a gathering of medicinal services offices that enter an interoperability settlement and consent to share information between their different wellbeing IT frameworks.</p><br>
                   
                     
                    
				</div>
				<div class="col-md-6 ">
					<img class="wow fadeInLeft img-responsive pull-right md-pt-40" src="assets/img/bg/3.jpg" alt="">
				</div>
			</div>
		</div><!--/container-->
		<!--=== End Content Part ===-->
       
       
  <!--=== Footer v2 ===-->
		
		<!--=== End Footer v2 ===-->
</div><!--/wrapper-->
</asp:Content>