<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Mobility | C Simplify IT - Do eCommerce!10x better.</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-default.css">
    <link rel="stylesheet" href="assets/css/headers/header-v6.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v2.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">

	<!-- CSS Page Style -->
	<link rel="stylesheet" href="assets/css/pages/page_search.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-63272985-1’, 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="header-fixed header-fixed-space">

	<div class="wrapper">
    
		<!--=== Header ===-->
		<div class="header header-sticky">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="Default.aspx">
					<img src="assets/img/logo1-default.png" alt="Logo">
				</a>
				<!-- End Logo -->
                 <!-- Topbar -->
				<div class="topbar">
					<ul class="loginbar pull-right">
						<li class="hoverSelector">
							<i class="icon-custom  rounded-x   icon-call-in "></i>
							<a href="tel://+9198999 76227" style="font-size:14px;">+91 98999 76227</a>
					</ul>
				</div>
				<!-- End Topbar -->

				
				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>                    
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">
                        <!-- Verticals -->
						<li class="active dropdown "><a href="#" class="">Verticals</a>
				            <ul class="dropdown-menu">
										<li><a href="retail.aspx">Retail</a></li>
										<li><a href="transport-management.aspx">Transport Management</a></li>
                                        <li><a href="mediapublish.aspx">Media and Publishing</a></li>
										<li><a href="financial.aspx">Financial Services</a></li>
                                        <li><a href="healthcare.aspx">Health Care</a></li>
                                        
				            </ul>
						</li>
						<!-- End Verticals -->
                        
                        <!---Products ------>
                        <li ></li>
                        <li class="dropdown">
							<a href="#" class="">Products</a>
				            <ul class="dropdown-menu">
										<li><a href="pushbiz.aspx">PushBiz - Be Visible</a></li>
										<li><a href="sims.aspx">SIMS - Smart Incedent Management System</a></li>
										<li><a href="freshervilla.aspx">FresherVilla - Skill Builder</a></li><li><a  href="transport-management-system.aspx">TMS - Transport Management System</a></li></li>
										<li><a href="tallent-nest.aspx">Talent Nest - Knowledge Management</a></li>
                                        <li><a href="smartpos.aspx">Smart POS - Geo/IOT Support</a></li>
                                        <li><a href="insynch.aspx">IN SYNCH - Intelligent follow ups</a></li>
                                        
				            </ul>
						</li>
                        <!---End Products ----->

						<!-- Servces -->
						<li class="dropdown">
							<a href="#" class="">Services</a>
				            <ul class="dropdown-menu">
										 <li><a href="bots-machinelearning.aspx">Bots and Machine Learning Services</a></li><li><a href="bpm-services.aspx">BPM Services</a></li> <li><a href="e-commerce.aspx">E-Commerce Services</a></li>
										<li><a href="geo-based-iot-internet-of-thing-services.aspx">Geo Based/IOT Internet Of Thing Services</a></li> <li><a href="artificial-intelligence-services.aspx">Artificial Intelligence Services</a></li>
										<li><a href="cloud_integrations.aspx">Cloud Integration Management Services</a></li>
                                        <li ><a href="mobility_apps.aspx">Mobility Apps Services</a></li>
									                                 
                                        <li><a href="testing.aspx">Testing Services</a></li>
				            </ul>
						</li>
						<!-- End Services -->
                        <!-- Pages -->
						  <li class=""><a href="aboutus.aspx" class="">About Us</a></li>
						<!-- End Pages -->
                        
                        <!----Contact Us ---->
                        <li class=""><a href="contact.aspx" class="">Contact Us</a></li>
						<!-- End Contact Us -->

					</ul>
				</div><!--/end container-->
			</div><!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->


		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Mobility</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="">Verticals</a></li>
					<li class="active">Mobility</li>
				</ul>
			</div>
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<div class="col-md-6">
					<h2 class="title-v2">Mobility Apps</h2>
					<p>Apple’s iPhone/iPad makes rich content, information and entertainment usable in locations both at home and on the road much more simply than before. It also makes makes limited document editing and data entry on a handheld device feasible rather than challenging. C Simplify IT is neck-deep in iPhone apps development and offers end-to-end iPhone application solutions at very competitive priceiPhone Application Development Technology C Simplify IT understands well, the fast changing needs of the customers and hence uses superior iPhone development platforms for greater user satisfaction. The iPhone developers at `C Simplify IT' :  </p><br>
                    <p>Use latest iPhone software like iOS 4.2 and iOS 4.0 to create remarkable iPhone apps</p>
                    <p>Perfectly optimize iPhone SDK for flawless support of iPhone web applications on iPhone series like iOS2.0 and 3, iPhone 3G and 3GS</p><br>
                     <p>With services spanning the entire mobile application and website development lifecycle, C Simplify IT provides secure and easy-to-manage mobile business strategy that supports cross enterprise demands. From mobile assessment to content strategy, architecture and interfaces, C Simplify IT provides turnkey mobile solutions that not only work across devices and operating systems but also provide an intuitive and device-specific user experience.</p><br>
                    <p>C Simplify IT channelizes its industry leading experience in mobile solutions to offer “best-in-class technology,” as well as business processes, based on each organization’s needs. Whether you are developing new, custom mobile web applications, or migrating existing enterprise applications to mobile platforms, or creating mobile websites, or implementing CMS for mobile content, C Simplify IT delivers proven technologies and methodologies, industry best practices and global delivery capabilities to help you meet your mobility initiatives. </p><br>
                    <p>Porting solutions for Hand Held Devices Hand held devices run on a large number of models and has to cover most new models to get through the market. Where porting to a good number of devices are a must for developers to reach global audience. </p><br>
                    
				</div>
				<div class="col-md-6 ">
					<img class="wow fadeInRight img-responsive pull-right md-pt-40" src="assets/img/mockup/sam.png" alt="">
				</div>
			</div>
		</div><!--/container-->
		<!--=== End Content Part ===-->
         <!--=== Content Part ===-->
	<div class="bg-grey">
			<div class="container content-sm">
			<div class="row">
                <div class="col-md-6">
					<img class="wow swing img-responsive pull-left md-pl-50" src="assets/img/mockup/lan-pro.png" alt="" style="height:400px; width:500px;">
				</div>
				<div class="col-md-6">
					<h2 class="title-v2">Lane Pro</h2>
					<p>LanePro takes Automobile Dealership Service Departments to the next level utilizing stateof-
the-art technology to meet the needs of today's consumers.</p><br>
                    <p>Give your Service Advisors the freedom to leave the counter and meet your customers as they drive into the service lane. Meet and greet your appointments with a single tap of your iPad screen. Walk-in? No problem. With the most advanced DMS integration creating a
new customer or pulling an existing is faster than ever before.</p><br>
                    <p>With LanePro you can perform customized vehicle walk arounds with your customers in the same amount of time it takes in many systems just to retrieve customer information. Take pictures of damage, note concerns, and even upsell services all on your Ipad. Advisors are fully prepared with all customer and vehicle history including any previously declined services.</p><br>
                    
				</div>
				
			</div>
		</div><!--/container-->
        </div>
		<!--=== End Content Part ===-->
        <!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<div class="col-md-6">
					<h2 class="title-v2">SMG Connect </h2>
					<p><strong>Enterprise APP - Not Available on iTunes or Google Play </strong> </p><br>
                    <p>Made existing MIS Process of SMG available on devices to approve and reject requests on the go.</p>
                    <p>Features : Users is able to access the new system on Android and iOS enabled phone to perform majority of functions like:</p><br>
                     <p>Approve request, Reject Request, Return Request, Handover Request, Mark out of office, Search requests Update Profile, Create request, Hold request</p><br>
                    <p>Solution used SSL and Web services authentication using tokens to stop unauthorized access on mobile theft. </p><br>
                    <p>Simple 4 digit password PIN without the need for their whole userid. For security, the authentication mechanism should be
linked to the phone, mobile number and the SIM card of the user</p><br>
                    
				</div>
				<div class="col-md-6 ">
					<img class="wow fadeInRight img-responsive pull-right md-pt-40" src="assets/img/mockup/smg.jpg" alt="" style="height:500px; width:400px;">
				</div>
			</div>
		</div><!--/container-->
		<!--=== End Content Part ===-->
        <!--=== Content Part ===-->
	<div class="bg-grey">
			<div class="container content-sm">
			<div class="row">
                <div class="col-md-6">
					<img class="wow swing img-responsive pull-left md-pl-50" src="assets/img/mockup/take-job.png" alt="" >
				</div>
				<div class="col-md-6">
					<h2 class="title-v2">Take My Job</h2>
					<p>Help your friends with Jobs with-in your reach. Your friends will love you for helping them. Yes, you also can see all jobs posted by your friends.</p><br>
                    <p>1. When you resign/leave, ensure your friends take your position! Of course, post new Jobs, when company asks you to get referrals.</p><br>
                    <p>2. Job portals acts in monstrous manner and charge money to
post jobs on their portals. Moreover, they make job available to
public, rather than to your trusted circle.</p><br>
                      <p>3. We strive to keep jobs with in your friend circle and we allow you help your friends and get them a respectable job and let them realize their dreams.</p><br>
                     <p><strong>Why you will like this App</strong></p><br>
                     <p>1. Post Jobs for free, to ONLY your friends, in secured SSL environment</p><br>
                     <p>2. Chat privately with friends, leave offline messages</p><br>
                     <p>3. Keep track of your posted Jobs and Job Applications</p><br>
                     <p>4. Extend your friend circle based on suggestions from existing friends only</p><br>
                     <p>5. Exclude certain Friends, in case, need be</p><br>
                     <p>6. Get a single ZIP file for all interested friends resume</p><br>
                     <p>While you know, jobs are from one of your friend, friends will not come to know, from whom! in this App. But, of course, you can chat and tell them. Why? Remember, we want you to post job even when you are leaving the Job, from your current Organization.
</p><br>
                    
                    
				</div>
				
			</div>
		</div><!--/container-->
        </div>
		<!--=== End Content Part ===-->
        
       
       
  <!--=== Footer v2 ===-->
		<div id="footer-v2" class="footer-v2">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-3 md-mt-40">
							<a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo-original.png" alt=""></a>
							<p class="margin-bottom-20">C Simplify IT Services established in the year 2011 located in gurgaon, India. we are handling projects in India, Singapore, Hong Kong, Thailand and USA.We have expertise in Expertise in BI, Content Management, Microsoft & Java technologies, Application Development, Support and Testing.</p>

							</div>
						<!-- End About -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-40 md-mt-40">
							<div class="headline"><h2 class="heading-sm">Useful Links</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="aboutus.html">About us</a><i class="fa fa-angle-right"></i></li>
								<li><a href="e-commerce.html">Services</a><i class="fa fa-angle-right"></i></li>								
								<li><a href="retail.aspx">Verticals</a><i class="fa fa-angle-right"></i></li>
								<li><a href="contact.html">Contact us</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div>
						<!-- End Link List -->

						<!-- Latest Tweets -->
						<div class="col-md-3 md-margin-bottom-40 md-mt-40">
							<div class="latest-tweets">
								<div class="headline"><h2 class="heading-sm">Social Links</h2></div>
								<div class="latest-tweets-inner">
									<ul class="social-icons">
                                        <li>
                                            <a href="https://www.facebook.com/CSimplifyIT-210115279023481/"
                                               data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                                        <li><a href="https://twitter.com/dmehta104" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                                        <li><a href="https://plus.google.com/u/0/+CSimplifyITServicesPrivateLimitedNewDelhi/about" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                                        <li><a href="https://www.linkedin.com/company/2702366" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                                    </ul>
                                </div>
							</div>
						</div>
						<!-- End Latest Tweets -->

						<!-- Address -->
						<div class="col-md-3 md-margin-bottom-40 md-mt-40">
							<div class="headline"><h2 class="heading-sm">Contact Us</h2></div>
							<address class="md-margin-bottom-40">
								<i class="fa fa-home"></i>C Simplify IT Services Private Limited <br />&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;SCO-36, Huda Market, Sector 31,<br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbspGurgaon, Haryana ( India ).<br />
								<i class="fa fa-phone"></i>Phone: +91 98999 76227 <br />
								<i class="fa fa-globe"></i>Website: <a href="#">www.csimplifyit.com</a> <br />
								<i class="fa fa-envelope"></i>Email: <a href="sales@csimplifyit.com" class="">sales@csimplifyit.com</a></a>
							</address>

							<!-- Social Links -->
							
							<!-- End Social Links -->
						</div>
						<!-- End Address -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<p class="text-center"><script>	document.write(new Date().getFullYear());</script> &copy; All Rights Reserved. by <a target="_blank" href="index.aspx">C Simplify IT</a></p>
<p class="text-center" style="font-size:12px;">Contact us @ Cues Simplify IT Services Private Limited (CIN U72900HR2011PTC043111)
Regd. Office: H No 314/21, Street No 5, Ward No 21, Madanpuri, Gurgaon, Haryana - 122001, INDIA<br/> Phone: +91 98 999 76227 Email ID: ez@CSimplifyIT.com</p>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer v2 ===-->
</div><!--/wrapper-->



<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.parallax.js"></script>
<script type="text/javascript" src="assets/plugins/counter/waypoints.min.js"></script>
<script type="text/javascript" src="assets/plugins/counter/jquery.counterup.min.js"></script>
<script type="text/javascript" src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript" src="assets/js/plugins/cube-portfolio/cube-portfolio-lightbox.js"></script>
<script type="text/javascript" src="assets/plugins/wow-animations/js/wow.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        App.initCounter();
        App.initParallaxBg();
        StyleSwitcher.initStyleSwitcher();
        new WOW().init();
    });
</script>
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

</body>
</html>
