	<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>C Simplify IT | Do eCommerce!10x better.</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/one.style.css">

	<!-- CSS Footer -->
	<link rel="stylesheet" href="assets/css/footers/footer-v7.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/pace/pace-flash.css">
	<link rel="stylesheet" href="assets/plugins/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
	<link rel="stylesheet" href="assets/plugins/login-signup-modal-window/css/style.css">

	<!-- Style Switcher -->
	<link rel="stylesheet" href="assets/css/plugins/style-switcher.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/one.dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<!--
The #page-top ID is part of the scrolling feature.
The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">

	<!--=== Header ===-->
	<nav class="one-page-header one-page-header-style-2 navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="menu-container page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#intro">
					<span>U</span>nify
					<!-- <img src="assets/img/logo1.png" alt="Logo"> -->
				</a>
			</div>

			<div class="log-reg-block-simple cd-log_reg">
				<a class="btn-u cd-signin" href="javascript:void(0);">Login</a>
			</div>

			<div class="top-contact-block">
				<i class="fa fa-phone fa-1"></i> <a href="tel:0 800 2000 123">0 800 2000 123</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="menu-container">
					<ul class="nav navbar-nav">
						<li class="page-scroll home">
							<a href="#body">Home</a>
						</li>
						<li class="page-scroll">
							<a href="#about">About Us</a>
						</li>
						<li class="page-scroll">
							<a href="#services">Services</a>
						</li>
						<li class="page-scroll">
							<a href="#news">News</a>
						</li>
						<li class="page-scroll">
							<a href="#portfolio">Portfolio</a>
						</li>
						<li class="page-scroll">
							<a href="#contact">Contact</a>
						</li>
						<li class="page-scroll">
							<a href="../index.html">Main</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!--=== End Header ===-->

	<!-- Promo block BEGIN -->
	<section class="promo-section" id="intro">
		<!-- Fullscreen Static Image BEGIN -->
		<div class="fullscreen-static-image fullheight">
			<!-- Promo Content BEGIN -->
			<div class="container valign__middle">
				<div class="row">
				  <div class="col-sm-10 col-sm-offset-1 text-center-xs">
					<h2>WE ARE C Simplify IT CREATIVE TECHNOLOGY COMPANY</h2>
					<div class="promo-text">
						Creative freedom matters user experience.<br>
						We minimize the gap between technology and its audience.
					</div>
					<div class="promo-next">
						<span class="page-scroll"><a class="btn-u btn-brd btn-brd-hover btn-u-light" href="#about">Learn More</a></span>
						<span class="page-scroll"><a class="btn-u btn-brd btn-brd-hover btn-u-light" href="#portfolio">Our Work</a></span>
					</div>
				  </div>
				</div>
			</div>
		  <!-- Promo Content END -->
		</div>
		<!-- Fullscreen Static Image END -->
	</section>
	<!-- Promo block END -->

	<!-- Colorful Service Blocks -->
	<section class="container-fluid">
		<div class="row no-gutter equal-height-columns margin-bottom-10">
			<div class="col-sm-4">
				<div class="service-block service-block-purple no-margin-bottom content equal-height-column" style="height: 239px;">
					<i class="icon-custom icon-md rounded icon-color-light icon-line icon-badge"></i>
					<h2 class="heading-md font-light">Best Solutions</h2>
					<p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service-block service-block-red no-margin-bottom content equal-height-column" style="height: 239px;">
					<i class="icon-custom icon-md rounded icon-color-light icon-line icon-fire"></i>
					<h2 class="heading-md font-light">Excellent Features</h2>
					<p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service-block service-block-aqua no-margin-bottom content equal-height-column" style="height: 239px;">
					<i class="icon-custom icon-md rounded icon-color-light icon-line icon-directions"></i>
					<h2 class="heading-md font-light">Creative Ideas</h2>
					<p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
				</div>
			</div>
		</div>        
	</section>
	<!-- End Colorful Service Blocks -->

	<!--  About Section -->
	<section id="about" class="about-section">
		<!-- Intro Block -->
		<div class="container padding-top-60">
			<div class="title-v1">
				<h1>We are C Simplify IT Agency</h1>
				<p>C Simplify IT <strong>creative</strong> technology company providing key digital services. <br>
				Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.</p>
			</div>
			<div class="img-center">
				<img class="img-responsive" src="assets/img/mockup/mockup.png" alt="">
			</div>
		</div>
		<!-- Intro Block -->

		<!-- Call Action v1 -->
		<div class="call-action-v1 bg-color-light">
			<div class="container">
				<div class="call-action-v1-box">
					<div class="call-action-v1-in">
						<p>C Simplify IT creative technology company providing key digital services and focused on helping our clients to build a successful business on web and mobile.</p>
					</div>
					<div class="call-action-v1-in inner-btn page-scroll">
						<a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">View Our Portfolio</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Call Action v1 -->

		<!-- Parallax Twitter -->
		<div class="parallax-twitter no-before-bg-img parallaxBg">
			<div class="container parallax-twitter-in">
				<div class="margin-bottom-30">
					<i class="icon-custom rounded-x icon-bg-blue fa fa-twitter"></i>
				</div>

				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<ul class="list-unstyled owl-twitter-v1">
							<li class="item">
								<p>C Simplify IT has reached 10000 plus sales and we just want to thank you to our all customers for being part of the C Simplify IT Template success <a href="http://bit.ly/1c0UN3Y">http://bit.ly/1c0UN3Y</a><p>
								<span>3 min ago via <a href="https://twitter.com/csimplifyit">@csimplifyit</a></span>
							</li>
							<li class="item">
								<p><a href="#">@csimplifyit</a> jQuery lightGallery - Lightweight jQuery lightbox gallery for displaying image and video gallery <a href="#">http://sachinchoolur.github.io/lightGallery</a> <a href="#">#javascript</a></p>
								<span>10 min ago Retweeted by <a href="https://twitter.com/csimplifyit">@twbootstrap</a></span>
							</li>
							<li class="item">
								<p>New 100% Free Stock Photos. Every. Single. Day. Everything you need for your creative projects. <a href="#">http://publicdomainarchive.com</a></p>
								<span>30 min ago via <a href="https://twitter.com/csimplifyit">@wrapbootstrap</a></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Parallax Twitter -->

		<!-- Testimonials -->
		<div class="what-people-say">
			<div class="container content-lg">
				<div class="title-v1">
					<h2>What People Say</h2>
					<p>We do <strong>things</strong> differently company providing key digital services. <br>
					Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.</p>
				</div>

				<!-- Testimonials Wrap -->
				<div class="testimonials-v6 testimonials-wrap">
					<div class="row margin-bottom-50">
						<div class="col-md-6 md-margin-bottom-50">
							<div class="testimonials-info rounded-bottom">
								<img alt="" src="assets/img/testimonials/img5.jpg" class="rounded-x">
								<div class="testimonials-desc">
									<p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
									<strong>Evan Bohringer</strong>
									<span>Web Developer</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="testimonials-info rounded-bottom">
								<img alt="" src="assets/img/testimonials/img6.jpg" class="rounded-x">
								<div class="testimonials-desc">
									<p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
									<strong>Sara Lisbon</strong>
									<span>Designer</span>
								</div>
							</div>
						</div>
					</div><!--/end row-->

					<div class="row margin-bottom-20">
						<div class="col-md-6 md-margin-bottom-50">
							<div class="testimonials-info rounded-bottom">
								<img alt="" src="assets/img/testimonials/img3.jpg" class="rounded-x">
								<div class="testimonials-desc">
									<p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
									<strong>Alice Williams</strong>
									<span>Web Developer</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="testimonials-info rounded-bottom">
								<img alt="" src="assets/img/testimonials/img2.jpg" class="rounded-x">
								<div class="testimonials-desc">
									<p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
									<strong>Jane Wearne</strong>
									<span>Technical Direector</span>
								</div>
							</div>
						</div>
					</div><!--/end row-->
				</div>
				<!-- End Testimonials Wrap -->
			</div><!--/end container-->
		</div>
		<!-- End Testimonials -->

		<!-- Our Vision And Mission -->
		<div class="bg-color-light">
			<div class="container content-lg">
				<div class="title-v1">
					<h2>Our Vision And Mission</h2>
					<p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br>
					We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p>
				</div>

				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="assets/img/mockup/mockup1.png" alt="">
					</div>
					<div class="col-md-6 content-boxes-v3 padding-top-20">
						<div class="clearfix margin-bottom-30">
							<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
							<div class="content-boxes-in-v3">
								<h2 class="heading-sm">Innovation Leader</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
							</div>
						</div>
						<div class="clearfix margin-bottom-30">
							<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
							<div class="content-boxes-in-v3">
								<h2 class="heading-sm">Best Solutions &amp; Approaches</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
							</div>
						</div>
						<div class="clearfix margin-bottom-30">
							<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>
							<div class="content-boxes-in-v3">
								<h2 class="heading-sm">Quality Service &amp; Support</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Our Vision And Mission -->

		<!-- Team Block -->
		<div class="team-v1 content-lg">
			<div class="container">
				<div class="title-v1">
					<h2>Meet Our Team</h2>
					<p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br>
					We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p>
				</div>

				<div class="row team-v6">
					<div class="col-md-3 col-sm-6 md-margin-bottom-50">
						<img alt="" src="assets/img/team/img3-md.jpg" class="img-responsive">
						<span>David Case</span>
						<small>Graphic Designer</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 md-margin-bottom-50">
						<img alt="" src="assets/img/team/img5-md.jpg" class="img-responsive">
						<span>Sara Lisbon</span>
						<small>Community</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 sm-margin-bottom-50">
						<img alt="" src="assets/img/team/img2-md.jpg" class="img-responsive">
						<span>Alice Williams</span>
						<small>Support</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<img alt="" src="assets/img/team/img1-md.jpg" class="img-responsive">
						<span>John Doe</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Team Block -->

		<!-- Parallax Counter -->
		<div class="parallax-counter-v4 parallaxBg1" id="facts">
			<div class="container content-sm">
				<div class="row">
					<div class="col-md-3 col-xs-6 md-margin-bottom-50">
						<i class="icon-cup"></i>
						<span class="counter">265</span>
						<h4>Coffee's Drunk</h4>
					</div>
					<div class="col-md-3 col-xs-6 md-margin-bottom-50">
						<i class="icon-clock"></i>
						<span class="counter">5957</span>
						<h4>Working Hours</h4>
					</div>
					<div class="col-md-3 col-xs-6">
						<i class="icon-emoticon-smile"></i>
						<span class="counter">3495</span>
						<h4>Happy Clients</h4>
					</div>
					<div class="col-md-3 col-xs-6">
						<i class="icon-bulb"></i>
						<span class="counter">576</span>
						<h4>New Ideas</h4>
					</div>
				</div><!--/end row-->
			</div><!--/end container-->
		</div>
		<!-- End Parallax Counter -->
	</section>
	<!--  About Section -->

	<!-- Services Section -->
	<section id="services">
		<div class="container content-lg">
			<div class="title-v1">
				<h2>Our Services</h2>
				<p>We do <strong>things</strong> differently company providing key digital services. <br>
				Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.</p>
			</div>

			<div class="row service-box-v1">
				<div class="col-md-4 col-sm-6">
					<div class="service-block service-block-default">
						<i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
						<h2 class="heading-md">Web Design &amp; Development</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
						<ul class="list-unstyled">
							<li>Logo &amp; Brand Design</li>
							<li>Mobile Development</li>
							<li>E-commerce</li>
							<li>App &amp; Icon Design</li>
							<li>Responsive Web Desgin</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="service-block service-block-default">
						<i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-present"></i>
						<h2 class="heading-sm">Marketing &amp; Cunsulting</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
						<ul class="list-unstyled">
							<li>Analysis &amp; Consulting</li>
							<li>Mobile Development</li>
							<li>Email Marketing</li>
							<li>App &amp; Icon Design</li>
							<li>Responsive Web Desgin</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="service-block service-block-default">
						<i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
						<h2 class="heading-sm">SEO &amp; Advertising</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
						<ul class="list-unstyled">
							<li>Google AdSense</li>
							<li>Social Media</li>
							<li>Display Advertising</li>
							<li>App &amp; Icon Design</li>
							<li>Analysis &amp; Consulting</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section -->

	<!-- Latest News -->
	<section id="news" class="bg-color-light">
		<div class="container content-lg">
			<div class="title-v1">
				<h2>Latest News</h2>
				<p>We do <strong>things</strong> differently company providing key digital services. <br>
				Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.</p>
			</div>

			<div class="row news-v2">
				<div class="col-md-4 sm-margin-bottom-30">
					<div class="news-v2-badge">
						<img class="img-responsive" src="assets/img/contents/img1.jpg" alt="">
						<p>
							<span>28</span>
							<small>Jun</small>
						</p>
					</div>
					<div class="news-v2-desc">
						<h3><a href="#">Corrupti Quos Dolores</a></h3>
						<small>By Admin | <a class="color-inherit" href="#">16 Comments</a> | In <a href="#">Web Trends</a></small>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
					</div>
				</div>
				<div class="col-md-4 sm-margin-bottom-30">
					<div class="news-v2-badge">
						<img class="img-responsive" src="assets/img/contents/img3.jpg" alt="">
						<p>
							<span>16</span>
							<small>Jun</small>
						</p>
					</div>
					<div class="news-v2-desc">
						<h3><a href="#">Blanditi Praesium Voluptum</a></h3>
						<small>By Admin | <a class="color-inherit" href="#">51 Comments</a> | In <a href="#">Art &amp; Design</a></small>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="news-v2-badge">
						<img class="img-responsive" src="assets/img/contents/img4.jpg" alt="">
						<p>
							<span>07</span>
							<small>Jun</small>
						</p>
					</div>
					<div class="news-v2-desc">
						<h3><a href="#">Key Digital Services</a></h3>
						<small>By Admin | <a class="color-inherit" href="#">32 Comments</a> | In <a href="#">Google &amp; Android</a></small>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
					</div>
				</div>
			</div>
		</div>        
	</section>
	<!-- End Latest News -->

	<!-- Portfolio Section -->
	<section id="portfolio">
		<div class="container content-lg">
			<div class="title-v1">
				<h2>Our Portfolio</h2>
				<p>We do <strong>things</strong> differently company providing key digital services. <br>
				Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.</p>
			</div>


			<div class="cube-portfolio">
				<div id="filters-container" class="cbp-l-filters-button">
					<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div>
					<div data-filter=".print" class="cbp-filter-item"> Print </div>
					<div data-filter=".web-design" class="cbp-filter-item"> Web Design </div>
					<div data-filter=".motion" class="cbp-filter-item"> Motion </div>
				</div><!--/end Filters Container-->

				<div id="grid-container" class="cbp-l-grid-gallery">
					<div class="cbp-item print motion">
						<a href="assets/ajax/project1.html" class="cbp-caption cbp-singlePageInline"
						   data-title="World Clock Widget<br>by Paul Flavius Nechita">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/portfolio/1.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">World Clock Widget</div>
										<div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="cbp-item web-design">
						<a href="assets/ajax/project2.html" class="cbp-caption cbp-singlePageInline"
						   data-title="Bolt UI<br>by Tiberiu Neamu">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/portfolio/2.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">Bolt UI</div>
										<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="cbp-item print motion">
						<a href="assets/ajax/project3.html" class="cbp-caption cbp-singlePageInline"
						   data-title="WhereTO App<br>by Tiberiu Neamu">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/portfolio/3.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">WhereTO App</div>
										<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="cbp-item web-design print">
						<a href="assets/ajax/project4.html" class="cbp-caption cbp-singlePageInline"
						   data-title="iDevices<br>by Tiberiu Neamu">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/portfolio/11.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">iDevices</div>
										<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="cbp-item motion">
						<a href="assets/ajax/project5.html" class="cbp-caption cbp-singlePageInline"
						   data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/portfolio/5.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">Seemple* Music for iPad</div>
										<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="cbp-item print motion">
						<a href="assets/ajax/project6.html" class="cbp-caption cbp-singlePageInline"
						   data-title="Remind~Me Widget<br>by Tiberiu Neamu">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/portfolio/6.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">Remind~Me Widget</div>
										<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="cbp-item web-design print">
						<a href="assets/ajax/project7.html" class="cbp-caption cbp-singlePageInline"
						   data-title="Workout Buddy<br>by Tiberiu Neamu">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/portfolio/7.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">Workout Buddy</div>
										<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="cbp-item print">
						<a href="assets/ajax/project8.html" class="cbp-caption cbp-singlePageInline"
						   data-title="Digital Menu<br>by Cosmin Capitanu">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/portfolio/8.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">Digital Menu</div>
										<div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="cbp-item motion">
						<a href="assets/ajax/project9.html" class="cbp-caption cbp-singlePageInline"
						   data-title="Holiday Selector<br>by Cosmin Capitanu">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/portfolio/4.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">Holiday Selector</div>
										<div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="cbp-l-loadMore-button">
					<a href="assets/ajax/loadMore.html" class="cbp-l-loadMore-button-link">LOAD MORE</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Portfolio Section -->

	<!-- Contacts BEGIN -->
	<section id="contact" class="contacts-section2 bg-color-light">
		<div class="container content">
			<div class="title-v1">
				<h2>Contact Us</h2>
				<p>We do <strong>things</strong> differently company providing key digital services. <br>
				Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.</p>
			</div>

			<div class="row">
				<div class="col-md-8 col-sm-6">
					<form action="assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form contact-style">
						<fieldset>
							<div class="row margin-bottom-30">
								<div class="col-md-6 col-md-offset-0">
									<div>
										<input type="text" name="name" id="name" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-md-6 col-md-offset-0">
									<div>
										<input type="text" name="email" id="email" class="form-control" placeholder="Email *">
									</div>
								</div>
							</div>

							<div class="row margin-bottom-20">
								<div class="col-md-12 col-md-offset-0">
									<div>
										<textarea rows="8" name="message" id="message" class="form-control" placeholder="Message"></textarea>
									</div>
								</div>
							</div>

							<p><button type="submit" class="btn-u">Send Message</button></p>
						</fieldset>

						<div class="message">
							<i class="rounded-x fa fa-check"></i>
							<p>Your message was successfully sent!</p>
						</div>
					</form>
				</div>

				<div class="col-md-4 col-sm-6">
					<p class="lead padding-bottom-10">Want to get more information? Contact us by using the form or call directly for more info.</p>
					<ul class="list-unstyled">
						<li class="padding-bottom-10">
							<i class="icon-custom icon-sm rounded-x icon-color-u fa fa-home"></i>
							<h6>Address</h6>
							<p>221B Baker Street, London, United Kingdom</p>
						</li>
						<li class="padding-bottom-10">
							<i class="icon-custom icon-sm rounded-x icon-color-u fa fa-phone"></i>
							<h6>Phone</h6>
							<p>+ 1 (633) 904 4785</p>
						</li>
						<li class="padding-bottom-10">
							<i class="icon-custom icon-sm rounded-x icon-color-u fa fa-envelope"></i>
							<h6>Email</h6>
							<a href="mailto:#" class="link-black">info@example.com</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Contacts END -->

	<!-- Footer simple BEGIN -->
	<section class="footer-simple">
	  <div class="container">
		<div class="row">
		  <div class="col-md-6 col-sm-4 col-xs-5">
			<p>2015 &copy; All Rights Reserved. C Simplify IT Theme by <a target="_blank" href="https://twitter.com/csimplifyit">csimplifyit</a></p>
		  </div>
		  <div class="col-md-6 col-sm-8 col-xs-7 text-right pull-right">
			<ul class="social-icons">
				<li><a class="social_facebook rounded-x" data-original-title="Facebook" href="#"></a></li>
				<li><a class="social_twitter rounded-x" data-original-title="Twitter" href="#"></a></li>
				<li><a class="social_googleplus rounded-x" data-original-title="Goole Plus" href="#"></a></li>
				<li><a class="social_pintrest rounded-x" data-original-title="Pinterest" href="#"></a></li>
				<li><a class="social_linkedin rounded-x" data-original-title="Linkedin" href="#"></a></li>
			</ul>
		  </div>
		</div>
	  </div>
	</section>
	<!-- Footer simple END -->

	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="javascript:void(0);">Login</a></li>
				<li><a href="javascript:void(0);">Register</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form">
					<p class="social-login">
						<span class="social-login-facebook"><a href="#"><i class="fa fa-facebook"></i> Facebook</a></span>
						<span class="social-login-google"><a href="#"><i class="fa fa-google"></i> Google</a></span>
						<span class="social-login-twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></span>
					</p>

					<div class="lined-text"><span>Or use your account on C Simplify IT</span><hr></div>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password">
						<a href="javascript:void(0);" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p>

					<p class="fieldset">
						<input class="full-width" type="submit" value="Login">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="javascript:void(0);">Forgot your password?</a></p>
				<!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form">
					<p class="social-login">
						<span class="social-login-facebook"><a href="#"><i class="fa fa-facebook"></i> Facebook</a></span>
						<span class="social-login-google"><a href="#"><i class="fa fa-google"></i> Google</a></span>
						<span class="social-login-twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></span>
					</p>

					<div class="lined-text"><span>Or register your new account on C Simplify IT</span><hr></div>

					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
						<a href="javascript:void(0);" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I agree to the <a href="javascript:void(0);">Terms</a></label>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Create account">
					</p>
				</form>

				<!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="javascript:void(0);">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a href="javascript:void(0);" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
</section>
<!-- End Contact Section -->

	<!-- JS Global Compulsory -->
	<script src="assets/plugins/jquery/jquery.min.js"></script>
	<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script src="assets/plugins/smoothScroll.js"></script>
	<script src="assets/plugins/jquery.easing.min.js"></script>
	<script src="assets/plugins/pace/pace.min.js"></script>
	<script src="assets/plugins/jquery.parallax.js"></script>
	<script src="assets/plugins/counter/waypoints.min.js"></script>
	<script src="assets/plugins/counter/jquery.counterup.min.js"></script>
	<script src="assets/plugins/owl-carousel/owl.carousel.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
	<script src="assets/plugins/modernizr.js"></script>
	<script src="assets/plugins/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->
	<script src="assets/plugins/backstretch/backstretch-ini.js"></script> <!-- promo -->

	<!-- JS Page Level-->
	<script src="assets/js/one.app.js"></script>
	<script src="assets/js/forms/login.js"></script>
	<script src="assets/js/forms/contact.js"></script>
	<script src="assets/js/plugins/pace-loader.js"></script>
	<script src="assets/js/plugins/owl-carousel.js"></script>
	<script src="assets/js/plugins/style-switcher.js"></script>
	<script src="assets/js/plugins/cube-portfolio/cube-portfolio-lightbox.js"></script>
	<script>
		jQuery(document).ready(function() {
			App.init();
			App.initCounter();
			App.initParallaxBg();
			LoginForm.initLoginForm();
			ContactForm.initContactForm();
			OwlCarousel.initOwlCarousel();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
	<!--[if lt IE 9]>
		<script src="assets/plugins/respond.js"></script>
		<script src="assets/plugins/html5shiv.js"></script>
		<script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
		<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
	<![endif]-->

	<!--[if lt IE 10]>
		<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->
</body>
</html>