﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="privacy.aspx.cs" Inherits="privacy" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
   
        
</head>
<body>
    <form id="form1" runat="server">
    <div>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Privacy Policy</strong> 
<table><tr><td>
 Cues Simplify IT Services Private Limited (C Simplify IT) Privacy PolicyWe value the trust you place in us. That's why we insist upon the highest standards for secure transactions and customer information privacy. Please read the following statement to learn about our information gathering and dissemination practices. Note: Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically. By visiting this Website and Apps you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree please do not use or access our Website and Apps. By mere use of the Website and our Apps, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the Terms of Use. 
</td></tr>
<tr><td><br><br>
  1. Collection of Personally Identifiable Information and other Information When you use our Website and Apps, we collect and store your personal information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our Website and Apps to make your experience safer and easier. More importantly, while doing so we collect personal information from you that we consider necessary for achieving this purpose. In general, you can browse the Website and Apps without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service or feature on the Website and Apps. We may automatically track certain information about you based upon your behaviour on our Website and Apps. We use this information to do internal research on our users' demographics, interests, and behaviour to better understand, protect and serve our users. This information is compiled and analysed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our Website or not), which URL you next go to (whether this URL is on our Website or not), your computer browser information, and your IP address. We use data collection devices such as "cookies" on certain pages of the Website to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety. "Cookies" are small files placed on your hard drive that assist us in providing our services. We offer certain features that are only available through the use of a "cookie". We also use cookies to allow you to enter your password less frequently during a session. Cookies can also help us provide information that is targeted to your interests. Most cookies are "session cookies," meaning that they are automatically deleted from your hard drive at the end of a session. You are always free to decline our cookies if your browser permits, although in that case you may not be able to use certain features on the Website and you may be required to re-enter your password more frequently during a session. Additionally, you may encounter "cookies" or other similar devices on certain pages of the Website that are placed by third parties. We do not control the use of cookies by third parties. If you choose to buy on the Website and Apps, we collect information about your buying behaviour. If you transact with us, we collect some additional information, such as a billing address, a credit / debit card number and a credit / debit card expiration date and/ or other payment instrument details and tracking information from cheques or money orders. If you choose to post messages on our message boards, chat rooms or other message areas or leave feedback, we will collect that information you provide to us. We retain this information as necessary to resolve disputes, provide customer support and troubleshoot problems as permitted by law. If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Website and Apps, we may collect such information into a file specific to you. We collect personally identifiable information (email address, name, phone number, credit card / debit card / other payment instrument details, etc.) from you when you set up a free account with us. While you can browse some sections of our Website and Apps without being a registered member, certain activities (such as placing an job) do require registration. We do use your contact information to send you offers based on your previous orders and your interests.C Simplify IT Website and Apps  may gather and use information about you, including (but not limited to) information in the following categories:<table><tr><td>(a) Identification data (e.g. name, username, address, telephone number, mobile number, email address, skills, job titles, company name);</td></tr><tr><td>(b) Profile information (e.g. age, gender, country of residence, language preference and any information that you choose to make available to others as part of your C Simplify IT Website and Apps user profile);</td></tr><tr><td>(c) Electronic identification data (e.g. IP addresses, cookies);</td></tr><tr><td>(d) Banking and payment information (e.g. credit card information, account number);</td></tr><tr><td>(e) Call quality and survey results;</td></tr><tr><td>(f) Information about your usage of and interaction with C Simplify IT software, products, and websites (including computer, platform, device and connection information, client performance information, error reports, device capability, bandwidth, statistics on page views, and traffic to and from our websites, browser type and  WiFi enabled hotspot detection and usage statistics;</td></tr><tr><td>(g) Products or services ordered and delivered;</td></tr><tr><td>(h) The URL of videos that you have selected to appear in your comment messages;</td></tr><tr><td>(i) List of your contacts and related data (we will give you a choice as to whether you want C Simplify IT to use contact lists from other services to populate your C Simplify IT  contacts);</td></tr><tr><td>(j) Your username and password for other email accounts where you have provided this to us and requested us to search for your friends on C Simplify IT  (please note that C Simplify IT  does not retain this information after completing the search or use it for any other purpose);</td></tr><tr><td>(k) Correspondence between you and C Simplify IT ;</td></tr><tr><td>(l) Traffic data (data processed for the purpose of the conveyance of communications or the billing thereof, including, but not limited to, the duration of the call, the number calling and the number called); and</td></tr><tr><td>(m) Content of instant messaging communications, voicemails, and video messages ;</td></tr><tr><td>(n) Location information, derived from your mobile carrier or from the mobile device or browser that you use. You also may create location information by "geo-tagging" your submitted content with location information. Please manage your privacy settings for location information carefully;</td></tr><tr><td>(o) Mobile device information, such as manufacturer’s name, device model number, operating system, carrier network;℗ Location information and device identifiers, derived from your device, when you search for or connect to a C Simplify IT  WiFi compatible hotspot. This information may be used to improve detection of eligibility to connect using C Simplify IT  WiFi and for the purposes of offering, providing and marketing C Simplify IT  WiFi to you;</td></tr><tr><td>(q) Access tokens for other accounts you associate with your C Simplify IT  account (such as Microsoft account or Facebook), which are like an electronic key provided by the service that acts in place of a password for authentication</table>
</td></tr>
<tr><td><br>
  2. Use of Demographic / Profile Data / Your Information We use personal information to provide the services you request. To the extent we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use your personal information to resolve disputes; troubleshoot problems; help promote a safe service; collect money; measure consumer interest in our products and services, inform you about online and offline offers, products, services, and updates; customize your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; and as otherwise described to you at the time of collection. In our efforts to continually improve our product and service offerings, we collect and analyse demographic and profile data about our users' activity on our Website. We identify and use your IP address to help diagnose problems with our server, and to administer our Website. Your IP address is also used to help identify you and to gather broad demographic information. We will occasionally ask you to complete optional online surveys. These surveys may ask you for contact information and demographic information (like zip code, age, or income level). We use this data to tailor your experience at our Website, providing you with content that we think you might be interested in and to display content according to your preferences. Cookies A "cookie" is a small piece of information stored by a web server on a web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user. We place both permanent and temporary cookies in your computer's hard drive. The cookies do not contain any of your personally identifiable information.
</td></tr>
<tr><td><br>
  3. Sharing of personal information We may share personal information with our other corporate entities and affiliates to help detect and prevent identity theft, fraud and other potentially illegal acts; correlate related or multiple accounts to prevent abuse of our services; and to facilitate joint or co-branded services that you request where such services are provided by more than one corporate entity. Those entities and affiliates may not market to you as a result of such sharing unless you explicitly opt-in. We may disclose personal information if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal information to law enforcement offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms or Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public. We and our affiliates will share / sell some or all of your personal information with another business entity should we (or our assets) plan to merge with, or be acquired by that business entity, or re-organization, amalgamation, restructuring of business. Should such a transaction occur that other business entity (or the new combined entity) will be required to follow this privacy policy with respect to your personal information.  
</td></tr>
<tr><td><br>
      4. Links to Other Sites Our Website links to other websites that may collect personally identifiable information about you. https://csimplifyit.com is not responsible for the privacy practices or the content of those linked websites.
</td></tr>
<tr><td><br>
5. Security Precautions Our Website has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access.
</td></tr>
<tr><td><br>
6. Advertisements on csimplifyit.com We use third-party advertising companies to serve ads when you visit our Website. These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other websites in order to provide advertisements about goods and services of interest to you.
</td></tr>
<tr><td><br>
7. Your Consent By using the Website and/ or by providing your information, you consent to the collection and use of the information you disclose on the Website in accordance with this Privacy Policy, including but not limited to Your consent for sharing your information as per this privacy policy. If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.
</td></tr>
<tr><td><br>
8. Grievance Officer In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below: Email: support@csimplifyit.com Time: Mon – Fri
</td></tr>
<tr><td><br>
9. Questions? Questions regarding this statement should be directed to the following address: support@csimplifyit.com
</td></tr>
</table> 
    </div>
    </form>
</body>
</html>
