﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="signup.aspx.cs" Inherits="signup"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<%--<link type="text/css" href="js/style.css" rel="Stylesheet" />
<script type="text/javascript">
    $("#btnsenmail").click(function (event) {
        event.preventDefault();
        var email = $("#txtemail").val();
        var status = false;
        var emailRegEx = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
        if (email.search(emailRegEx) == -1) {
            alert("Please enter a valid email address.");
            return false;
        }
        $.post("signup.aspx",
            {
                id: "sendpassword",
                txtemail: $("#txtemail").val()
            },
			   function (data, status) {
			       $('.context').html(data);
			   });

    });		

        $("#formsendmail").submit(function (e) {
            e.preventDefault();
            $.ajax({
                data:  "txtemail="+$("#txtemail").val()+"&txtusername="+$("#txtusername").val()+"&context=sendmail",
                type: $(this).attr("method"),
                url: $(this).attr("action"),
                success: function (response) {
                    $('.context').html(response);
                }
            });
            return false;
        });
        $("#btnsavepassword").click(function (event) {
            event.preventDefault();
            var pwd = $("#txtpwd").val();
            var confirmpwd = $("#txtconfirmpwd").val();
            if (pwd == "") {
                alert("password must be require");
                return false;
            }
            if (confirmpwd == "") {
                alert("confirm password must be require");
                return false;
            }
            if (confirmpwd != pwd) {
                alert("password is not matched")
                return false;
            }
            $("#formregistration").hide();
            $.post("signup.aspx",
            {
                id: "savepassword",
                password: $("#txtpwd").val()
            },
			   function (data, status) {
			       $('.message').html(data);
			   });
            $("#message").show();

        });
  
</script>
--%>    <title></title>
</head>
<body>
</body>
</html>