﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Test33.aspx.cs" Inherits="csimplifyit.Test33" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="Scripts/jquery-1.4.3.min.js"></script>
    <script type="text/javascript">

        function testcall() {
            $.ajax({

                type: "POST",
                url: "Test33.aspx/test",

                contentType: "application/json; charset=utf-8",

                dataType: "json'",

                success: function (data) {
                    var Data = data.d;
                    if (Data.Status == 1) {
                        stripeKey = Data.Result.Description;
                    } else if (Data.Status == 2) {

                    } else {

                    }
                },
                error: function (request, error) {
                    console.log(arguments);
                    alert(" Can't do because: " + error);
                },
                beforeSend: function () {

                },
                complete: function () {

                }
            });
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
