﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="uploadAssignment.aspx.cs" Inherits="uploadAssignment" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta charset="utf-8">
<title>Basic Bootstrap Template</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/simplify1.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="Scripts/bootstrap.min.js"></script>
        <script src="Scripts/simplify.js"></script>
           <script src="Scripts/bootstrap.js"></script>
        
        
</head>
<body>
<div class="container">

   
		
					<label for="UplineNo">Enter Video Url : *</label>
					<input type="email" name="UplineNo" class="form-control" id="UplineNo">
				</div>
                <div class="col-xs-12 " style="">
						<button type="button" id ="Button1" class="btn btn-danger btn-sm">Submit</button>
						<button type="reset" class="btn btn-warning btn-sm">Done</button>
						</div>
	<div class="row">

        <div class="dual-list list-left col-md-5">
            <div class="well text-right">
                <div class="row">
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                            <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group">
                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group" id="list1">
                  
                </ul>
            </div>
        </div>

        <div class="list-arrows col-md-1 text-center">
            <button class="btn btn-default btn-sm move-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>

            <button class="btn btn-default btn-sm move-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>

        <div class="dual-list list-right col-md-5">
            <div class="well">
                <div class="row">
                    <div class="col-md-2">
                        <div class="btn-group">
                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </div>
                <ul class="list-group" id="list2">
                  
                </ul>
            </div>
        </div>

	</div>
</div>
<div class="form-group col-md-4 pull-right">
					<div class="col-xs-12 ">
						<button type="button" id ="btnSubmit" class="btn btn-danger btn-sm">Submit</button>
						<button type="reset" class="btn btn-warning btn-sm">Done</button>
						</div>
						</div>
</body>
</html>


