﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="verticals.aspx.cs" Inherits="csimplifyit.WebForm18" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
 <script>
     $(function () {
         $('#slides').slides({
             preload: true,
             preloadImage: 'img/loading.gif',
             play: 5000,
             pause: 2500,
             hoverPause: true



         });
     });
	</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<div id="body-wrapper" class="clearfix"><!--start body-wrapper-->
   <hr />	
   	
    <h2 class="text_blue">Page under construction</h2>
    
    
    
    
    </div>



</asp:Content>
