﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <center><h1 style="height: 335px; margin-top:100px; background-color:darkorchid"> Content Page Data Show here.... </h1></center> 
</asp:Content>
