@CHARSET "ISO-8859-1";

.notificationRed{
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    color:red;
 	font-weight:bold;
    padding: .5em;
 	background-color:#FFFFFF;
 	border:5px rgb(255,0,0);
    box-shadow: 2px 2px 5px -2px rgba(255,0,0,0.5);
  }
  .notificationGreen{
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    padding: .5em;
 	background-color:#CCFF99;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  .notificationLoading{
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    color:red;
 	font-weight:bold;
    padding: .5em;
 	background-color:white;
 	text-align:center;
 
    box-shadow: 2px 2px 5px -2px rgba(255,0,0,0.5);
  }
  
  .errorReportButtonId{
  	border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 7px 14px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
  }