@CHARSET "ISO-8859-1";

.ui-jqgrid-sortable
{
	background: #EE6363 !important;
	color: white !important;
}

#Friends
{
	background: #EE6363 !important;
	color: white !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
.ui-widget-content .jqgrow .ui-row-ltr
{
	/*
	Modified -Parveen Verma. To override css otherwise have to change in their own css.
	*/
	background: #FFD700 !important; 
	color: white !important;
}


/*
	Grid title bar background color.
*/
.ui-jqgrid .ui-jqgrid-titlebar
{
	background-color:#55A6F1 !important;
}

/*
	Not not wrap text in column but to display all on colunmns.
*/
.ui-jqgrid tr.jqgrow td
{
	white-space: normal !important;
}

.HeaderButton
{
	display:none; /*For not showing option to minimize jqgrid.*/
}