#Search {
height:30px;
width: 25%;
padding: 0;
margin-left: 3px;
background-color: #55A6F1;
box-shadow:#eee 0.7px 0.7px 15px inset;
border: 1px #000;
color: #fff;
Font-Size:15px;
Font-Family:'Calibri';
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
#Search:hover {
color: #55A6F1;
background-color:#fff;
box-shadow:#55A6F1 0.7px 0.7px 15px inset;
}
#Search_content {
width: 40%;
height: 27px;
padding-left: 3px;
padding-top: 0;
padding-bottom: 0;
padding-right: 0;
margin: 0;
background-color: #FFF;
}
#logIn:hover {
background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}
#register-btn:hover {
background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}
.commandButton:hover {
background-color:#fff;
color: #55A6F1;
border:#AFAFAF 2px solid;
cursor:pointer;
}
.commandButton {
border-radius: 40px;
color: #fff;
background-color: #55A6F1;
font: inherit;
height: 35;
font-family: none;
font-size: 16;
}
.changebutton {
border-radius: 40px;
color: white;
background-color: red;
font: inherit;
height: 35;
font-family: none;
font-size: 16;
}
.changebutton:hover {
border-radius: 40px;
color: red;
background-color: white;
font: inherit;
height: 35;
font-family: none;
font-size: 16;
}
.mainTest {
background-color:red;color:white;Font-Family:'Century Gothic';border-top-right-radius:10px;border-top-left-radius:10px;font-size:30px;padding:20px;
}
.ui-progressbar {
     position: relative;
  }
  .progress-label {
    position: absolute;
    left: 15%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
  #progressbar {
    width: 500;
    text-align: center;
    background: red;
    color: white;
  }
.buttons {
width:30px; 
margin-left:10px; 
box-shadow:#000 0.5px 0.5px 5px; height:30px; border-radius:100%; padding:1px 1px 1px 1px; background-color:red;color:white;

} 