﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="crisp.aspx.cs" Inherits="csimplifyit.WebForm22" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
 <script>
     $(function () {
         $('#slides').slides({
             preload: true,
             preloadImage: 'img/loading.gif',
             play: 5000,
             pause: 2500,
             hoverPause: true



         });
     });
	</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">


   <div id="body-wrapper" class="clearfix"><!--start body-wrapper-->
   <hr />	
	
	<h2 class="text_blue">Crisp</h2>
    <p>Short and sweet templates with to the point details. Details which is terse and important, rather than ellaboraive. Good for smaller projects, which can be signed of quickly and where we have existing relationship well defined</p>
    </div>
</asp:Content>
