#contact {
    background: #f9f9f9;
        padding: 30px 0;
}
footer {
    background: black;
}
footer p {
    font-weight: 500!important;
    color: #8e8e8e;
}
.emailForm {
    position: absolute;
    z-index: 9;
    top: 17%;
    right: 5%;
}
.formprop{
		width: 470px;
    	    padding: 25px 20px;
    	border-radius: 5px;
    	box-shadow: 5px 10px 20px #3a3a3a85;
			background: #f9f9f9;
	}
	.form-control {
    background-color: #f9f9f9;
}
	.imgprop{
		height:auto;
		width:120px;
		
	}
	.btnprop{
		width:100%
	}
	.formprop p {
		font-size: 28px;
    	font-weight: bold;
	}
	.formprop p span {
		border:2px solid black;
		    padding: 5px;
	}
	.btn-primary {
    color: #ffffff;
    background-color: #000;
    background-image: none;
	    border-color: transparent;
}
 .btn-primary:hover {
	 	background-color: #222;
		 border-color: transparent;
	 }
	 .salesCS {
    color: #212529;
}

	 @media(max-width: 767px) {
	 	.emailForm {
		    position: unset !important;
		    z-index: 9;
		    top: 0 !important;
		    right: 0 !important;
		}
		.formprop {
		    width: auto !important;
		    padding: 25px 20px;
		    border-radius: 0 !important;
		    box-shadow: 5px 10px 20px #3a3a3a00 !important;
		    background: #f9f9f9;
		}
	 }