#simplemassmail img {
	width: 70px;
    padding-right: 5px;
}
.card {
    border: 0px solid rgba(0,0,0,.125);
}
.card-body {
    padding: 1rem;
}
.installation, .installationData {
    background: linear-gradient(to bottom right, #87f2bc, #8ddbe7);
}
.configuration, .configurationData {
    background: linear-gradient(to bottom right, #fbe897, #fb9770);
}
.execution, .executionData {
    background: linear-gradient(to bottom right, #f8b0ff, #6ba8e6);
}
.additionalLinks, .additionalLinksData {
    background: linear-gradient(to bottom right, #d8ff83, #6ed861);
}
.card-title {
    color: #5f5f5f;
    text-align: left;
}
.card-title span {
    float: right;
    cursor: pointer;
}
.installationData, .configurationData, .executionData, .additionalLinksData {
    padding: 1.25rem;
        margin-top: 30px;
}
.installationData h4, .configurationData h4, .executionData h4, .additionalLinksData h4 {
	color: #5f5f5f;
}
.installationData label, .configurationData label, .executionData label, .additionalLinksData label {
    color: #0067af;
}
.installationData li,  .configurationData li, .executionData li, .additionalLinksData li {
    text-align: left;
}
.additionalLinksData a {
    color: #666666;
}
.installationData:before {
    content: '';
    position: absolute;
    margin-top: -3rem;
    left: 3%;
    width: 0;
    height: 0;
    border-bottom: solid 28px #87f1bd;
    border-left: solid 28px transparent;
    border-right: solid 28px transparent;
}
.configurationData:before {
    content: '';
    position: absolute;
    margin-top: -3rem;
    left: 31%;
    width: 0;
    height: 0;
    border-bottom: solid 28px #fbd38d;
    border-left: solid 28px transparent;
    border-right: solid 28px transparent;
}
.executionData:before {
    content: '';
    position: absolute;
    margin-top: -3rem;
    left: 63%;
    width: 0;
    height: 0;
    border-bottom: solid 28px #c6aef6;
    border-left: solid 28px transparent;
    border-right: solid 28px transparent;
}
.additionalLinksData:before {
    content: '';
    position: absolute;
    margin-top: -3rem;
    left: 92%;
    width: 0;
    height: 0;
    border-bottom: solid 28px #a6ec73;
    border-left: solid 28px transparent;
    border-right: solid 28px transparent;
}