﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Charge.aspx.cs" Inherits="csimplifyit.Charge.Charge" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
  
</head>
<body>
     
    <form id="form1" runat="server">
         <asp:ScriptManager runat="server" EnablePageMethods="True"></asp:ScriptManager>
    <div>
    <p>Successfully Execute</p>
    </div>
    </form>
</body>
</html>
