#process-automation h3 {
    color: #1c1c1c;
    font-size: 16px;
    display: block;
    width: 85%;
    background: #f1f1f1c9;
    padding: 13px 5px;
    border-radius: 5px;
    margin: 10px auto;
    height: 64px;
}
#process-automation h2 span {
    color: white;
}
#enterprise-integration p {
    font-size: 1rem;
}
#business-process h3, #crm h3, #hrsolutions h3, #testing h3 {
    color: #00bcf9;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}
.parallax .btn-info {
    color: #fff;
    background-color: #00bcf9 !important;
    border-color: #00bcf9 !important;
}
#case-study .item ul li {
    list-style: none;
    margin-bottom: 0.4rem !important;
    text-align: left;
    height: 44px;
}
#case-study .item ul li:before {
    content: '✓';
    padding-right: 4px;
    display: inline-block;
    float: left;
    font-weight: bold;
}
#case-study .item ul li span {
    display: inline-block;
    width: calc(100% - 20px);
}
#case-study h2 span {
    color: white;
}
#case-study .owl-theme.owl-nav-outer .owl-nav .owl-prev, #case-study .owl-theme.owl-nav-outer .owl-nav .owl-next {
    background-color: #ffffffc7 !important;
    color: black;
}
#enterprise-integration img {
    width: 28%;
}
#digital-header h1 {
    font-size: 2rem !important;
}
#digital-header h3 {
    font-size: 1.4rem;
}
@media(max-width: 667px) {
  #case-study .item ul li {
        height: auto !important;
        margin-bottom: 1rem !important;
    }
}