/*  uncomment if want caption in slider images & use the script in site.master page that is commented in the last section under script tag

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
} 
*/

#container {
	width:960px;
	

	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:960px;
	height:580px;
	position:relative;
}



#frame {
	position:absolute;
	z-index:0;
	width:940px;
	height:341px;
	top:-30px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;	
	top:1px;
	left:2px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:960px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:960px;
	height:540px;
	display:block;
}

.slides_container a img {
	display:block;
	width:100%;
	height:100%;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:270px;
	left:2%;
	width:24px;
	height:43px;
	
	z-index:101;
	display:none;
}

#slides .next {
	left:920px
}

#example:hover #slides .next, #example:hover #slides .prev 
{
	display:block;
}
/*
	Pagination
*/

.pagination {
	margin:15px auto 3px auto ;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

