﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Admin.aspx.cs" Inherits="csimplifyit.Admin.Admin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
        
    <link href="../assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="../assets/lib/remodal/remodal.css" rel="stylesheet">
    <link href="../assets/lib/remodal/remodal-default-theme.css" rel="stylesheet">
    <link href="../assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
    <link href="../assets/lib/lightbox2/css/lightbox.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">


     <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">

    <link rel="manifest" href="../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.jpg">
    <meta name="theme-color" content="#ffffff">

    <meta name="google-sigin-client_id" content="509303823636-4nmni39qd4m0egmiv7cgkdqq57teuo5h.apps.googleusercontent.com" />
        <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="../assets/lib/remodal/remodal.css" rel="stylesheet">
    <link href="../assets/lib/remodal/remodal-default-theme.css" rel="stylesheet">
    <link href="../assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
    <link href="../assets/lib/lightbox2/css/lightbox.css" rel="stylesheet">
    <link href="../assets/lib/semantic-ui-accordion/accordion.min.css" rel="stylesheet">
    <link rel="../stylesheet" href="assets/css/font-awesome.css">
    <link href="../assets/css/theme.css" rel="stylesheet">
    <link rel="../stylesheet" type="text/css" href="assets/css/document_management.css">
	




   
     <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../assets/js/scrolling-nav.js"></script>
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/lib/loaders.css/loaders.css.js"></script>
    <script src="../assets/js/stickyfill.min.js"></script>
    <script src="../assets/lib/remodal/remodal.js"></script>
    <script src="../assets/lib/jtap/jquery.tap.js"></script>
    <script src="../assets/js/rellax.min.js"></script>
    <script src="../assets/lib/owl.carousel/owl.carousel.js"></script>
    <script src="../assets/lib/lightbox2/js/lightbox.js"></script>
    <script src="../assets/lib/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/lib/isotope-packery/packery-mode.pkgd.min.js"></script>
    <script src="../assets/js/Default.js"></script>
    <script src="../assets/js/theme.js"></script>

  <%-- <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>--%>

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
   <%-- <script src="../Scripts\Stripe\Stripe.js"></script>--%>

   
    <script type="text/javascript">

        $(document).ready(function () {

            var base_url = window.location.origin;

            var host = window.location.host;

            var pathArray = window.location.pathname.split('/');

            var createAcount = $('#createAcount');
            createAcount.prepend('<a class="btn btn-danger"  href="' + base_url + '/signin/signin.aspx?id=0">Sign Up/Log In</a>');

        });

                   
          (function (i, s, o, g, r, a, m) {
              i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date(); a = s.createElement(o),
              m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
          })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
          ga('create', 'UA-63272985-1', 'auto');
          ga('send', 'pageview');

      </script>



    
        <style type="text/css">
     .plans:hover {
        box-shadow: 1px 5px 8px #3333337d;
        background: white !important;
      }
      #pricing_details li {
          list-style: none;
      }
      .yes_feature:before {
          content: '\2713';
          color: green;
          font-weight: bold;
          padding-right: 5px;
      }
      .not_feature:before {
          content: '\2715';
          color: red;
          font-weight: bold;
          padding-right: 5px;
      }
      .promo-code { 
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      .promo-checkbox { margin: 0.5rem 0; }
      .upgradePlans {
        color: blue;
        font-weight: bold;
        font-size: 20px;
        display: block;
      }
      #studio-contact {
          border-bottom: 2px solid #929292;
      }
      .amount span{
        font-size: 40px; 
        vertical-align: top; 
        font-weight: bold; 
        color: #333;
      }
      .discountedPrice {
        font-size: 24px !important; 
        text-decoration: line-through;
      }
    </style>
</head>


<body>


    <!--===============================================-->
    <!--    Fancynav-->
    <!--===============================================-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#landing-page">
          <img src="../assets/img/logo.png" alt="C Simplify IT" height="45" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown1">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#landing-page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#whatwedo">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#offerings">Offerings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#technology">Technologies</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuProduct" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuProduct">
                <a class="dropdown-item" href="SM3/SimpleMassMailMerge.aspx">Simple Mass Mail Merge</a>
                     <a class="dropdown-item" href="SRM/SimpleRecruitmentManager.aspx">Simple Recruitment Manager</a>
                  <a class="dropdown-item" href="googleworkflow/SimpleWorkflowManager.aspx">Simple Workflow Manager</a>
                  <a class="dropdown-item" href="SPOS/SimplePointofSale.aspx">Simple Point of Sale</a>
                   <a class="dropdown-item" href="STDGDoc/SimpleTabularDocumentGenerator.aspx">Simple Tabular Document Generator</a>
                  
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../Strip_Payment_way/StripePayment.aspx">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#whyus">Why Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#clients">Our Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--===============================================-->
    <!--    End of Fancynav-->
    <!--===============================================-->



    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main minh-100vh" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->

	  
	  <!-- ============================================-->
      <!-- <section> begin ============================-->
      <div class="speciality">
        <a href="#">Our Specialities</a>
      </div>
      <!-- <section> close ============================-->
      <!-- ============================================-->
	  
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" id="plansPricing">

        <div class="container-fluid">
          <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-lg-6">
              <div class="row align-items-center justify-content-center py-6 py-md-8">
                <div class="col-11 col-sm-10">
                  <div class="overflow-hidden">
                    <h2 class="font-weight-light text-uppercase fs-3 fs-lg-4" data-zanim-lg='{"delay":0.4}'><span class="font-weight-black"> Plans &<br/> Pricing</span></h2>
                  </div>
                  <div class="overflow-hidden">
                    <p class="lead text-sans-serif font-weight-normal pr-xl-9 mt-4 text-500" data-zanim-lg='{"delay":0.5}'>Whether your time-saving<br/> automation needs are large or small,<br/> we’re here to help you scale.</p>
                  </div>
                  <div class="overflow-hidden">
                    <div class="mt-3 mt-lg-5" id="createAcount" data-zanim-xs='{"delay":0.6}'>
                   <%--   <a class="btn btn-danger"  href="https://localhost:44319/signin/signin.aspx?id=0">create account</a>--%>
                     <%-- <h6 class="font-weight-normal mt-2 text-500">Have an account?
                        <a class="text-900 font-weight-bold ml-1" href="#">Sign in<span class="d-inline-block ml-1">&xrarr;</span></a>
                      </h6>--%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 px-0">
              <div class="h-100 py-9" data-zanim-lg='{"animation":"slide-right","from":{"opacity":1},"delay":0.4}' data-zanim-trigger="scroll">
                <div class="bg-holder" style="background-image:url(../assets/img/pricing.jpg);" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-right","delay":0}'>
                </div>
                <!--/.bg-holder-->

              </div>
            </div>
            
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
         <!-- ============================================-->
      <!-- <section> begin ============================-->
