﻿div#signupbox {
    width: 599px;
    position: absolute;
    top: 10px;
    background: #354e5d8c;
    box-shadow: -6px 10px 11px 0px rgba(4, 91, 193, 0.25);
    left: 570px;
    padding-left: 36px;
    padding-bottom: 56px;
}
body { padding: 2em; }


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

#rowid {
    margin-top: -295px;
}
.separator--light {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #090909;
    font-size: 1.3rem;
    padding-left: 197px;
}
.separator {
    display: flex;
    position: relative;
    margin: 2rem 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex: 1;
   margin-top: -19px;
}

#bg{
        background:#0000001a;
}
#btn-login{
    text-align: center;
    width: 482px;
    padding-left: 29px;
    margin-left: 11px;
}
}

#loginform{
        margin-top: -10px;
}
#contentdata{
    color: #6a6262 !important;
}
#Firstname{
    margin-left: 22px;
}
#Lastname{
    margin-right: 46px;
}
#WorkEmail{
    margin-right: 46px;
    margin-left: 22px;
}
#PassWord{
     margin-right: 46px;
    margin-left: 22px;
}
#btnlink{
    text-align:center;
}
#Ldetails{
    color: black;
    font-size: medium;
}