﻿
.notification {
    position: fixed;
    top: 0;
    display: inline-block;
    font-size: 2em;
    padding: .5em;
 background-color:#FFFF99;
 text-align:center;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
.my-custom-class .modal-dialog{
    width:90%;
}
.imageDivZoom{
    overflow-x:auto;overflow-y:auto; 
}
.imageResize{
max-height:410px;
max-width:100%;
}
.imageViewerBorder {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imageLoader{
    position:relative;
    background:none;
    top:180px;
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}
.containerImg {
    position: relative;
}
  .notificationRed{
  
   position: fixed;
    top: 0;
    display: inline-block;
    font-size: 2em;
    padding: .5em;
 background-color:#FF9999;
 text-align:center;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  .btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 1px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10px;
  background-color:red;
}
  .notificationYellow{
    position: fixed;
    top: 0;
    display: inline-block;
    font-size: 2em;
    padding: .5em;
 background-color:yellow;
 text-align:center;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  .notificationGreen{
    position: fixed;
    top: 0;
    display: inline-block;
    font-size: 2em;
    padding: .5em;
 background-color:#CCFF99;
 text-align:center;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  .notificationRed1{
 position: fixed;
    top: 0;
    display: inline-block;
    color:white;
    font-size: 2em;
    padding: .5em;
 background-color:red;
 text-align:center;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  
  .notificationLoading{
    position: fixed;
    top: 0;
    display: inline-block;
    font-size: 1.3em;
 background-color:#ff9900 !important;
 text-align:center;
 color: white;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
.messageCommonProp {
 
 border-radius:6px;
 font-size:20px;
 
}

#AppHeader{
    margin-left: 225px;
    margin-top: -20px;
}
#AppHeader .header-tms {
    color:#fff;
    font-weight:400 !important;
}

    



.backButCol,.backButCol:focus{
    background-color:#1C3F95 !important;
}





.ullistVIn{

     position: absolute;
    z-index: 10000;
    width: 20%;
    display: block;
    border-radius:0px !important;
}


.ullistVInReconcile{

     position: absolute;
    z-index: 10000;
    width: 100%;
    display: block;
    border-radius:0px !important;
}
.ulListSrch {
    position: absolute;
    z-index: 10000;
    width: 90%;
    display: block;
    border-radius:0px !important;
    
}
.ulGridListSrch{
    position: absolute;
    z-index: 10000;
    width: 20%;
    display: block;
    border-radius:0px !important;
}


ul#IncidentSection {
    min-width: 350px !important;
}

.checkboxSet{
    margin:0px !important;
}

.inputError{
    border-color: red !important;
}
.gridError
{
    background-color: rgba(220,220,220,.6);
    color: Red!important;
    border-color: red !important;
}
th.dt-center, td.dt-center { text-align: center; }

.icon-viewInvoiceNtUploaded {
  color: red;
}
.icon-viewInvoiceUploaded {
  color: green;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;  
  font-size: x-small;
  
    width: 60px;
    height: 20px;
  
}

.tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  
   cursor: pointer;
}



.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-width: 5px;
  border-color: dimgrey;
  border-style: solid;
  
  
}

/*.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu li {
  background-color: #ffffff !important;
  border: 0 !important;
  padding: 15px px !important
}*/


input:checked + .slider {
  background-color: #2196F3;
 
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
   
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  
}

.slider.round:before {
  border-radius: 50%;
}
.podReconcile{
    background-color:#9cd584;
}
.podNotReconcile{
    background-color:red;
}