/** Created by Sahil Popli Dated-24/09/2012*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 110%;
font: inherit;
vertical-align: baseline;
}

html {
font-size:130%;
overflow-y:scroll;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}



#body-wrapper{
width:960px;


margin:0 auto; 
padding:5px 10px 10px 10px;
}
hr{ margin-top:-10px;}

body,input,textarea {
font:14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
background:#FFF;

background: url("../images/bg.png") repeat scroll 0 0 transparent;
}

.clear {clear: both}

strong {font-weight: bold;}
.three_fourth{ width: 63%; }
.one_half { width: 47%; }
.one_third { width: 30.5%; }
.one_fourth { width: 22%; }
.one_fifth { width: 16%; }
.two_third {width: 66.5%; }
.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
position: relative;
margin-right: 3%;
margin-bottom: 0px;
float: left;
}

.column-last {
margin-right: 0!important;
clear: right;
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}



a {
	text-decoration: none;
	color: #000;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
}

a:hover {
	color: #F34B47;
	border-color: #;
	}

p{
margin-bottom: 15px;
font-size:1.2em;

}
	
h1 + p, h2 + p, h3 + p{
margin-top: -10px;
}



h1 {
	font-weight: bold;
	font-size: 24px;
	margin-top:10px;
	border-left:5px solid #3768E6 ;
	
	padding-left:10px;
	
}

h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}

.header {
	background: url("#") repeat-x scroll left top transparent;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#logo {
	float: left;
	margin-right: 50px;
	margin-top:0px;
}


/* remove comments listing if want underline in menu items  @sahil popli
.menu a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #d3d4d6;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;

}
*/


#footer {
   bottom:0;
   width:72%;
   
   height:40px; 
  
}
 
.align_center
{
	text-align:center;
}


.bigtext_25
{
	font-size:larger;
}
/*Colors */
h1, h2, h3, p, ul, ol {
color: #000;
font-weight: normal;
margin: 0 0 20px;
}
.text_blue
{
	color:#3768E6;
}
.text_red
{
	color:#FF3E00;
}

.border_2_blue
{
	border:2px solid #3768E6;
}
ul,ol
{
	padding-left:20px;
}



.padding_10
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding:10px;
}

.radius_10
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	 border-radius: 10px;
}

.radius_20
{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	 border-radius: 20px;
}

.dashed_list>li
{
	list-style:none;
	padding-left:25px;
}

.dashed_list>li:before
{ content:"- ";
}
  
 .blank_list>li
{
	list-style:none;
	padding-left:25px;
}

.padding_top_20
{
	margin-top:20;
}

.square_list >li
{
	list-style-type:square;
}

.bold
{
	font-weight: bold;
}
body-wrapper h1:first-of-type
{
	font-weight:bold;
}


/*Pricing table sahil popli dated 26-09-2012*/

.pricing_table_wdg {  
	border:1px solid #c4cbcc;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	float:left;
	margin-top: 25px;
}
.pricing_table_wdg ul { 
	list-style:none; 
	float:left; 
	width:295px; 
	margin:0; 
	border:1px solid #f2f3f3;
	padding:5px;
	text-align:center;
	background-color:#FFF;
}
.pricing_table_wdg ul:hover { 
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-box-shadow:3px 5px 7px rgba(0,0,0,.7);
	-webkit-box-shadow: 3px 5px 7px rgba(0,0,0,.7);
	box-shadow:3px 5px 7px rgba(0,0,0,.7);
	cursor:pointer;
	background:#d8e9f9;
}
.pricing_table_wdg ul li {  
	border-bottom:1px dashed #cfd2d2;
	padding:10px 0;
}
.pricing_table_wdg ul li:first-child { 
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	background:#2e818f;
}
.pricing_table_wdg ul li:nth-child(2) { 
	background:#fbfbfb;
}
.pricing_table_wdg ul li:nth-child(3) { 
	font-size:12px;
	font-weight:bold;
}
.pricing_table_wdg ul li:nth-child(n+4) { 
	font-size:14px;
}
.pricing_table_wdg ul li:last-child a { 
	color:#F0F0F0;
	text-decoration:none;
	font-weight:bold;
	display:block;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #c4cbcc;
	padding:10px;
	margin:5px 0;
	background: #0061bb; /* Old browsers */
	background: -moz-linear-gradient(top, #0061bb 0%, #164e82 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0061bb), color-stop(100%,#164e82)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0061bb 0%,#164e82 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0061bb 0%,#164e82 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #0061bb 0%,#164e82 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0061bb', endColorstr='#164e82',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #0061bb 0%,#164e82 100%); /* W3C */
}


/*Feedback form 05/10/2012 Sahil popli*/
#feedback{
			position: fixed;
			bottom:20px;
			left:-312px;
			z-index:100;
			padding:30px;
			background:rgba(0,0,0,0.6);
			
		}
		#feedback form{
			float: left;
			border: 1px solid #999;
			padding: 10px;	
		}
		/* Button visible by default for opening the contact form panel*/
		#feedback a{ 
			background:url('feedback-buttons.png')  no-repeat center left transparent;
			display: block;
			width:40px;
			height:175px;
			float: left;
			text-indent:-9999em;
			position: absolute;
			top:120px;
			right:-40px;
		}
		#feedback a:hover{
			background-position: center right;			
		}
		
	
		
		#feedback h2{
			text-align:center;
			color: #fff;
			/*text-shadow:0.2px 0.3px 0.3px #000;*/
			font-size:22px;
		}
   
		input{ display:block;}

		#inputs input ,#inputs textarea
		{
			background: #f1f1f1;
			padding: 10px;
			margin: 0 0 10px 0;
			width: 200px; /* 353 + 2 + 45 = 400 */
			border: 1px solid #ccc;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow: 0 0px 2px #ccc inset, 0 0px 1px #fff;
			-webkit-box-shadow: 0 0px 2px #ccc inset, 0 0px 1px #fff;
			box-shadow: 0 0px 2px #ccc inset, 0 0px 1px #fff;
		}



		#inputs input:focus ,#inputs textarea:focus
		{
			background-color: #fff;
			border-color: #e8c291;
			outline: none;
			-moz-box-shadow: 0 0 0 1px #e8c291 inset;
			-webkit-box-shadow: 0 0 0 1px #e8c291 inset;
			box-shadow: 0 0 0 1px #e8c291 inset;
		}
		.submitbutton
		{
			margin: 25px 0 0 0;
		}

		#submit
		{		
			background-color: #ffb94b;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
			background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
			background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
			background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
			background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
			background-image: linear-gradient(top, #fddb6f, #ffb94b);    
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;    
			text-shadow: 0 1px 0 rgba(255,255,255,0.5);    
			 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
			 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
			 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;        
			border-width: 1px;
			border-style: solid;
			border-color: #d69e31 #e3a037 #d5982d #e3a037;

			float: left;
			height: 35px;
			padding: 0;
			width: 120px;
			cursor: pointer;
			font: bold 15px Arial, Helvetica;
			color: #8f5a0a;
		}

		#submit:hover,#submit:focus
		{		
			background-color: #fddb6f;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
			background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
			background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
			background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
			background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
			background-image: linear-gradient(top, #ffb94b, #fddb6f);
		}	

		#submit:active
		{		
			outline: none;
   
			 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
			 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
			 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
		}

		#submit::-moz-focus-inner
		{
		  border: none;
		}
.allrights
{
    text-decoration: none;
	color: #888;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	font-size:small;
	text-align:center;
}
	  
/*-------------------------------------------------------------------*/
/*	Footer


#footer-links {
	width: 100%;
	height: 63px;
	background: transparent;
	border-top: 1px dotted #393d42;
	border-bottom: 1px dotted #393d42;
	float: left;
	margin-top: 10px;
}
#footer-ul {
	float: left;
	margin-top: 22px;
	padding-left:33%;
}
#footer-ul li {
	float: left;
	list-style:none;
}
#footer-ul li a {
	font-size: 12px;
	font-weight:bold;
	color: #4f4f4f;
	padding-left: 9px;
	padding-right: 9px;
	border-right: 1px dotted #4f4f4f;
	height: 6px;
}
#footer-ul li a:hover {
	color: #222222;
}
#footer-ul li:first-child a {
	padding-left: 0px;
}
#footer-ul li:last-child a {
	border-right: none;
}
------------------------------------------------------------------*/
.errormessage
{
	color:White;
}

footer >div>a{font-size: 16px; padding:0px; font-weight:bold; margin-bottom:0px; }
footer >div >ul > li,footer >div >ul > li > ul { list-style:none; padding:2px; padding-left:0px; }
footer >div >ul > li> a { padding-left:-10px; }
footer >div >ul > li a { text-decoration:none; color:Gray; }
footer >div >ul > li a:hover {  color:black; }
footer >div >ul{ list-style:none; padding:2px; padding-left:0px; }
footer >div >ul > li > ul {padding:0; margin:0;   padding-left:10px;  }

footer >div >ul > li > ul >li >a { color: Black;}
footer >div >ul > li > ul >li >a:hover { color: Grey;}
/*
.footer_wrapper > span
{
	 font: 16px Arial, Helvetica, sans-serif;
	background-image:url('../../images/bc_bg.png');
	background-repeat:repeat-x;
	height:40px;
	line-height:30px;
	color:#9b9b9b;
	border:solid 1px #cacaca;
	width:100%;
	overflow:hidden;
	margin:0px;
	padding:5px;
	
}
.footer_wrapper > span 
{
	 height:30px;
	display:block;
	background-image:url('../../images/bc_separator.png');
	background-repeat:no-repeat;
	background-position:right;
	padding-right: 15px;
	text-decoration: none;
	color:#454545;
 
}

.footer_wrapper > span:first-child{ border: none;   margin: 8px 0px;}
*/